## Experiment 3
### Creating dataframes (and its methods)

In [ ]:
import pandas as pd
student_data = [
    ('Rohan',22,'Pune',40000),
    ('Ishita',23,'Mumbai',50000),
    ('Aarav',24,'Delhi',60000),
    ('Meera',21,'Chennai',45000),
    ('Kabir',25,'Kolkata',70000),
    ('Ananya',22,'Bangalore',55000),
    ('Vivaan',23,'Hyderabad',35000)]
df = pd.DataFrame(student_data, columns = ['Name','Age','City','Fee'])
print(df)
print('\nselect column by index: \'City\', \'Age\', \'Fee\'')
result1 = df[['City', 'Age', 'Fee']]
print(result1)
print('\nSelecting column by index with condition : City==Mumbai')
city = df[df['City']=='Mumbai']
print(city)
print('\nChanging DF index to \'City\' with set_index() method')
df.set_index("City", inplace=True)
print(df)
print('\nSelecting rows using \'loc\' method where index = Mumbai, Kolkata')
result2 = df.loc[["Mumbai","Kolkata"]]
print(result2)

     Name  Age       City    Fee
0   Rohan   22       Pune  40000
1  Ishita   23     Mumbai  50000
2   Aarav   24      Delhi  60000
3   Meera   21    Chennai  45000
4   Kabir   25    Kolkata  70000
5  Ananya   22  Bangalore  55000
6  Vivaan   23  Hyderabad  35000

select column by index: 'City', 'Age', 'Fee'
        City  Age    Fee
0       Pune   22  40000
1     Mumbai   23  50000
2      Delhi   24  60000
3    Chennai   21  45000
4    Kolkata   25  70000
5  Bangalore   22  55000
6  Hyderabad   23  35000

Selecting column by index with condition : City==Mumbai
     Name  Age    City    Fee
1  Ishita   23  Mumbai  50000

Changing DF index to 'City' with set_index() method
             Name  Age    Fee
City
Pune        Rohan   22  40000
Mumbai     Ishita   23  50000
Delhi       Aarav   24  60000
Chennai     Meera   21  45000
Kolkata     Kabir   25  70000
Bangalore  Ananya   22  55000
Hyderabad  Vivaan   23  35000

Selecting rows using 'loc' method where index = Mumbai, Kolkata
           Name  Age    Fee
City
Mumbai   Ishita   23  50000
Kolkata   Kabir   25  70000